<% @page_title = "Admin: Room list" %>
<h1>Room List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>types</th>
            <th>cost</th>
        </tr>
    </thead>
    <tbody>
    <% @rooms.each do |r|%>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.types.ids %></td>
            <td><%= r.cost %></td>
            
        </tr>
    <%end%>
    </tbody>
</table>