<% @page_title = "admin:" +@plan.name%>
<table>
    <tr>
        <th>Name</th>
        <td><%=@plan.name %></td>
    </tr>
    <tr>
        <th>Dinner_id</th>
        <td><%=@plan.dinner_id %></td>
    </tr>
    <tr>
        <th>Plan_start</th>
        <td><%=@plan.plan_start %></td>
    </tr>
    <tr>
        <th>Plan_end</th>
        <td><%=@plan.plan_end %></td>
    </tr>
    
    
</table>